@model IEnumerable<SD_125_BugTracker.Models.Project>

@{
    ViewData["Title"] = "viewProjects";
}

<h1>Your Projects</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Project Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-ProjectId="@item.Id">Edit</a> |
                <a asp-action="Assign" asp-route-ProjectId="@item.Id">Assign</a> |
                <a asp-action="Unassign" asp-route-ProjectId="@item.Id">Unassign</a> |
                <a asp-action="Archive" asp-route-ProjectId="@item.Id">Archive</a>
            </td>
        </tr>
}
    </tbody>
</table>
